@import './sidebar.less';

/**
 * public
 */
@font-face{
  font-family: 'BMWTypeNext';
  src : url('../fonts/BMWTypeNextTT-Light.ttf');
}
@font-face{
  font-family: 'BMWTypeNextBold';
  src : url('../fonts/BMWTypeNextTT-Bold.ttf');
}
html,
body {
  width: 100%;
  height: 100%;
  font-family:'BMWTypeNext','Arial','Times New Roman','Microsoft YaHei';
  color: @textColor;
  font-size: @textSize;
  line-height: 1;
  font-weight: 400;
}

a {
  color: @textColor;
  text-decoration: none;
}
.text_overflow_cut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.clear {
  clear: both;
}
.clearfix::after {
  content: '';
  height: 0;
  visibility: hidden;
  clear: both;
  display: block;
}
.clearfix {
  zoom: 1;
}

/**
 * scrollbar style
 */
::-webkit-scrollbar,::-webkit-scrollbar-corner {
  width: 10px;
  height: 10px;
  background: #F1F1F1;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #BFC0C2;
}
// ::-webkit-scrollbar-track-piece {
//   background-color: rgba(0, 0, 0, 0);
// }
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #D8D8D8;
  transition: backgroundColor 0.3s ease;
}
::-webkit-scrollbar-thumb:vertical {
  height: 10px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 10px;
}
// ::-webkit-scrollbar-thumb:hover {
//   background-color: #7f7f7f;
// }

/**
 * app style
 */
.el-notification {
  a {
    color: @primaryColor;
    text-decoration: underline;
  }
}
.tableHead {
  height: 58px;
  line-height: 58px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  // background-color: #fff;
  font: 1em sans-serif;
  font-size: 16px;
  background: #fff;
}

.tableHead.tabletitle {
  padding-right: 15px;
}
.el-scrollbar{ border-radius: 0px;}
.el-collapse-item__header {
  // background-color: #fff;
  font-size: @textSizeSecondary;
  padding: 0 20px;
}
//标题过长显示...
.long-title {
  text-align: left;
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.el-button span{font-family: 'BMWTypeNext','Arial','Times New Roman','Microsoft YaHei' !important;;}
.tab {
  height: 28px;
  display: flex;
  border-bottom: @borderColor solid 2px;
  flex-direction: row;
  margin: 0px;
  .col {
    height: 28px;
    line-height: 28px;
    margin-right: 10px;
    color: #8e8e8e;
    cursor: pointer;
    padding: 0px 3px; font-size: @textSizeSecondary;
    border-bottom: @borderColor solid 2px;
  }
  .colAtive {
    height: 28px;
    line-height: 28px;
    margin-right: 10px;
    padding: 0px 3px;
    font-size: 13px;
    font-weight: bold;
    color: #4d4d4d;
    border-bottom: @primaryColor solid 2px;
  }
}
.el-message-box__btns{
  text-align: center !important;
  .el-button:first-child{
    padding: 9px 15px;
    background: #4d4d4d;
    color: #fff; 
    min-width: 132px;
    border: #4d4d4d solid 1px;
  }
}
.el-message-box__title{
  span{
    font-size: 18px; color: #4d4d4d
  }
}
.el-tabs__nav{
  height: 28px;
  display: flex;
  flex: 1;
  border-bottom: @borderColor solid 2px;
  flex-direction: row;
  margin: 0px;
  .el-tabs__nav-next, .el-tabs__nav-prev{ line-height: 30px;}
  .el-tabs__active-bar{ bottom: -2px;}
  .el-tabs__item{
    height: 28px;
    line-height: 28px;
    color: #8e8e8e;
    padding:0px 20px 0px 0px ;
    font-size: @textSizeSecondary;
  }
  .el-tabs__item:hover{
    font-weight: bold;
    color: #4d4d4d;
  }
  .el-tabs__item.is-active{
    height: 28px ;
    line-height: 28px;
    font-size: 13px;
    font-weight: bold;
    color: #4d4d4d;
  }
}
.el-button--text{
  i{ margin-right: 4px;}
}
.el-table {
    border-top: 1px solid  #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    border-left: 1px solid transparent !important;
    border-right: 1px solid transparent !important;
   .el-button--text{
     i{ margin-right:0px;}
   }
   .el-table__header{
     border-bottom:#e6e6e6 solid 1px;
      thead{
        background: url('../img/table-header.gif') repeat-x left top;
        padding:0px !important;
        background-size: auto 100%;
        tr{
          background: transparent !important;
          th{
            background: transparent !important;
          }
        }
    }
    }
   .el-table__header thead > tr > th{
    padding:0px !important;
    height: 30px;
    border-right: 1px solid #ffffff !important;
    border-bottom: #fff solid 1px;
     .cell{
       padding:1px 8px !important; 
       line-height: 1.42857143;
       font-size: @textSizeSecondary;
       height: 25px;
       font-weight: bold;
       line-height: 25px;
       overflow: hidden;
       font-family:'BMWTypeNext','Arial','Times New Roman','Microsoft YaHei';
   }
   .wrapper{
     height: 25px; line-height: 25px;
   }
   .caret-wrapper{
     height: 25px;
     width: 17px;
     .ascending{
       top:2px;
     }
     .descending{
       bottom:2px;
     }
   }
  }
  .el-table__body tbody > tr:nth-child(even){
    background-color:#F0F0F6;
   }
   .el-table__body tbody > tr:nth-child(odd){
    background-color:#ffffff;
   }
   .el-table__body tbody > tr > td{
    padding:0px !important;
    border-right: 1px solid transparent !important;
    border-bottom: transparent solid 1px !important;
    // border-bottom: #e6e6e6 solid 1px;
    .cell {
       padding:1px 8px !important; 
       line-height: 1.42857143;
       font-size: @textSizeSecondary;
       line-height:  26px;
       overflow: hidden;
       font-family:'BMWTypeNext','Arial','Times New Roman','Microsoft YaHei';
       .el-form-item{ font-size: @textSizeSecondary;}
      .el-button{
        height: 20px;
        min-height: 20px;
        line-height: 20px;
        background: transparent;
        border: 1px solid transparent;
        padding: 0px 3px;
        span{
          font-size: @textSizeSecondary;
          font-family:'BMWTypeNext','Arial','Times New Roman','Microsoft YaHei';
          color:@primaryColor;
          min-width:2px !important;
          user-select: text !important;
          -moz-user-select: text !important;
          -webkit-user-select: text !important;
          -ms-user-select: text !important;
        }
      }
      .el-button+.el-button{ margin: 0px;}
      .el-select .el-input.is-disabled .el-input__inner:hover {
        border: transparent solid 1px;
      }
      .el-input--mini .el-input__icon {
        line-height: 22px;
      }
      .el-input-number .el-input__inner{
        text-align: right;
      }
      .el-date-editor {
        line-height: 22px;
        height: 22px;
        .el-input__inner {
          width: 95%;
        }
      }
      .el-input--small .el-input__icon {
        line-height: 22px;
      }
      .el-input{
        .el-input__inner {
          border: transparent solid 0px !important;
          border-bottom:#DADADA solid 1px !important;
          font-size: @textSizeSecondary;
          background: transparent;
          height: 22px !important;
          line-height: 22px !important;
          font-family:'BMWTypeNext','Arial','Times New Roman','Microsoft YaHei';
        }
      }
    }
  }
  td.is-right .el-input{
    .el-input__inner{ text-align: right}
  }
  .el-table__body tbody > tr > .filterRight .cell {
      padding-right: 20px !important;
  }
  .el-table__body tbody > tr > .sorterRight .cell{
      padding-right: 24px !important;
  }
  .el-table__body tbody > tr > .sorterfilterRight .cell{
    padding-right: 40px !important;
  }
  .el-table__body-wrapper{ border-bottom:#e6e6e6 solid 1px;}
}
.el-form{
 .is-disabled {
    textarea[disabled='disabled'],
    input[disabled='disabled'] {
      background-color: #f2f2f2;
      color: #848484;
      padding-right: 3px;
    }
  }
  .el-form-item {
    .el-form-item__label{
      font-size: @textSizeSecondary;
    }
    .el-form-item__content {
      .el-input__inner {
        font-family:'BMWTypeNext','Arial','Times New Roman','Microsoft YaHei';
      }
    }
    .el-select{
      .el-select__tags > span{
        position: relative;
        width: 100%;
        overflow: hidden;
        .el-tag:first-child{
            max-width:calc(100% - 45px); overflow: hidden;
          .el-select__tags-text{ width:100%; height:25px; display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis }
        }
      }
    }
  }
  .is-required{
    .el-form-item__label:before{
        content: "" !important;
        margin-right: 0px !important;
      }
    .el-form-item__label:after{
        content: "*";
        color: #f56c6c;
        margin-left: 2px;
      }
  }
}
.el-button{
  height: 30px; overflow: hidden;
  i{font-size: 14px; color: #4d4d4d; font-weight: 400 !important }
  span{ font-weight: 400; font-size: 14px;}
}

.elRadioButton {
  overflow: hidden;
  /deep/.el-radio {
    border: #ddd solid 1px;
    padding: 0px 10px;
    height: 30px;
    position: relative;
    margin: 0 -1px 5px 0;
    line-height: 30px;
    .el-radio__input {
      display: none;
      width: 0px;
      height: 0px;
      overflow: hidden;
    }
    .el-radio__label {
      padding: 0px;
      font-size: @textSizeSecondary;
    }
  }
  /deep/.is-checked {
    border: @primaryColor solid 1px !important;
    z-index: 1;
    background: #e4f0ff;
    height: 30px;
    line-height: 30px;
    .el-radio__label {
      color: @primaryColor;
    }
  }
}

.el-input{
  .el-input__inner{
    padding-left: 5px;
  }
  /deep/.el-input-group__append{
  padding: 0px 10px;
 }
}
.el-input-number{
  .el-input-number__decrease{
     display:none
  }
  .el-input-number__increase{
     display:none
  } 
  .el-input .el-input__inner{
    padding-left: 5px !important;
    padding-right: 10px !important;
    text-align: left;
  }
}
.wang{
  .container{
    padding-bottom:50px !important;
  }
}
.el-select-dropdown__list{
  .el-select-dropdown__item{
    font-size: @textSizeSecondary; padding: 0px 10px;
  }
}
.el-pagination{
  .el-pager{
    .number{ font-size: 12px; font-weight: 400;}
  }
  .el-input__suffix{
    top:-2px;
  }
}
.el-pagination.is-background .btn-prev, .el-pagination.is-background .btn-next, .el-pagination.is-background .el-pager li{
  border-radius: 0px !important;
}

.el-checkbox{
.el-checkbox__input{ vertical-align: middle;}
.el-checkbox__label{ font-size: 12px; font-weight: 400;vertical-align: middle;}
}
.el-pagination.is-background .el-pager li:not(.disabled).active{ font-size: 12px; font-weight: 400;}
.el-input .el-input__inner{font-family:'BMWTypeNext','Arial','Times New Roman','Microsoft YaHei' !important;}
.el-date-editor{
  position: relative;
  padding-right: 5px;
  .el-icon-date{
    font-size: 12px !important;
    line-height: 22px !important;
  }
  /deep/.el-range-separator{
    width: 20px  !important; font-weight: 400; font-size: 12px;
  }
  .el-range__close-icon{ position: absolute;top:0px; right: 0px;}
}
.borderTrue{
  border: 1px solid  #e6e6e6  !important;
  .el-table__header thead > tr > th{
    border-right: 1px solid  #ffffff  !important;
    border-bottom: 1px solid  #ffffff  !important;
  }
  .el-table__body tbody > tr > td{
  border-right: 1px solid  #e6e6e6  !important;
  border-bottom: 1px solid  #e6e6e6  !important;
  }
}
//more 下拉按钮
.more-dropdown{
  padding-right: 10px;
 .el-button{
   display:block;
   margin-left: 10px !important;
   margin-right: 10px;
   width: 100%; text-align: left;
 }
 .el-checkbox{
   display:block;margin-left: 10px;
  margin-right: 10px;
  width: 100%; text-align: left;}
}